.text-info { color: #1579A0 !important; }
.text-success { color: #1E8609 !important; }
.text-warning { color: #A8950D !important; }
.text-danger { color: #E32B17 !important; }

// Weight and italics
.fw-medium  { font-weight: $font-weight-medium !important; }

//text size
.text-xs { font-size: $font-size-xs !important;}  
.text-sm { font-size: $font-size-sm !important;}  
.text-lg { font-size: $font-size-lg !important;}  

//icons size
.icon-xs { font-size: $icon-size-xs !important;}  
.icon-sm { font-size: $icon-size-sm !important;}  
.icon-lg { font-size: $icon-size-lg !important;}  
.icon-xl { font-size: $icon-size-xl !important;}  
.icon-xxl { font-size: $icon-size-xxl !important;}

//ligne height
lh-sm {line-height: 1.2 !important;}
lh-md {line-height: 1.6 !important;}
lh-lg {line-height: 1.8 !important;}

//text truncate
.text-truncate-3 {-webkit-line-clamp: 3; display: -webkit-box; -webkit-box-orient: vertical; overflow: hidden;}
.text-truncate-2 {-webkit-line-clamp: 2; display: -webkit-box; -webkit-box-orient: vertical; overflow: hidden;}
.text-truncate-1 {-webkit-line-clamp: 1; display: -webkit-box; -webkit-box-orient: vertical; overflow: hidden;}
